{% extends "templates/web.html" %}

{# إزالة هيدر فرابي الافتراضي #}
{% block navbar %}{% endblock %}

{# إزالة فوتر فرابي الافتراضي #}
{% block footer %}{% endblock %}

{% block content %}
{# الهيدر المخصص #}
{% include "templates/includes/iraqindex_header.html" %}

{# محتوى الصفحة الرئيسي #}
{% block page_content %}{% endblock %}

{# الفوتر المخصص #}
{% include "templates/includes/iraqindex_footer.html" %}
{% endblock %}

{% block head_include %}
{# إضافة ملفات التصميم #}
<link rel="stylesheet" href="/assets/research_agency/public/scss/site.css">
{% endblock %}

{% block script %}
{# إضافة الجافاسكريبت #}
<script src="/assets/research_agency/public/js/site.js"></script>
{% endblock %}